<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <ul>
                        <% for (let product of products) {%>
                            <li>
                                <p>
                                    <%= product.title%> (<%= product.cartItem.quantity %>)
                                </p>
                                <form action="/delete-cart-item" method="POST">
                                    <input type="hidden" value="<%= product.price %>" name="itemPrice" />
                                    <input type="hidden" value="<%= product.id %>" name="itemId" />
                                    <button type="submit" class="btn">Delete</button>
                                </form>
                            </li>
                            <% } %>
                    </ul>
                    <form method="POST" action="/create-order">
                        <button type="submit" class="btn">Order now</button>
                    </form>
                    <% } else { %>
                        <h1>No products found in cart</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>